* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: fantasy;
    background-color: #000000;
    background-size: cover;
}
.logo {
    height: 40px;
    width: 350px;
    margin: 0;
    padding: 0;
    color: #5100ff;
    letter-spacing: 2px;
    transition: 1s;
    font-size: 50px;
}
.logo:hover {
    padding: 5px;
}
div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    color: #ffffff;
}
div span {
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 100%;
    z-index: 1;
    position: relative;
    mix-blend-mode: difference;
}
div::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: #ffffff;
    animation: move 3s linear infinite;
    z-index: -1;
}
@keyframes move {
    0% , 100% {
        left: 0;
    }
    50% {
        left: calc(100% - 100px);
    }
}